# Data
pydantic>=1.8.1,<2.0
sqlalchemy>=1.3.23,<2.0
pymysql>=1.0.2,<2

elastic-apm

# RabbitMQ
aio_pika>=6.8.0,<7
aiormq>=3.3.1,<4
pika>=1.2.0,<1.3

# FastAPI
fastapi>=0.63.0,<1

# Auth
pyjwt[crypto]>=2.1.0,<3

# Network
requests>=2.25.1,<3

# Logger
pretty_errors>=1.2.20,<2
colorlog>=5.0.1,<6

# Cache
cachetools>=4.2.2,<5

# Types
types-aiofiles
types-cachetools
types-orjson
types-requests
types-ujson
